
.container-fluid,
footer, 
nav {
    background-color: black;
}
.btn.btn-outline-dark{
    color: #FFD000;
    border-color:#FFD000;
}

.btn-warning {
    background-color: #FFD000;
    border-color: #FFD000;
    width: 155px;
}

h2, h5 {
    color: #FFD000;
    font-family:'Righteous';
}

h5 {
    color: #6b6960;
}

.vr {
    padding: 0px;
}

.card {
    background-color: grey;
    margin: auto;
    max-width: 1250px;
}

.scrolling {
    overflow-x: auto;
    border-radius: 0.25rem;
    margin-bottom: 15px;
}

.scrolling::-webkit-scrollbar {
  width: 8px;
}

.scrolling::-webkit-scrollbar-thumb {
  background: #46453e;
  border-radius: 4px;
}
.scrolling::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.itemTitle {
  font-size: 50px;
  line-height: 400px;
  text-align: center;
}
